# OpenOCD configuration for the STM32 Blue Pill (STM32F103C8) via ST-Link v2.
#
# Used by `make BOARD=bluepill flash`, which appends:
#   -c "program build/bluepill/fw.elf verify reset exit"
#
# If you flash with a different probe, swap the interface line:
#   interface/stlink.cfg   ST-Link v2 / v2.1 (default below)
#   interface/cmsis-dap.cfg  DAPLink / generic CMSIS-DAP
#   interface/jlink.cfg      Segger J-Link

source [find interface/stlink.cfg]
transport select hla_swd
source [find target/stm32f1x.cfg]

# Blue Pill clones often need a slower adapter clock to enumerate reliably.
adapter speed 1000

reset_config srst_only
